@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;1,600&family=Dancing+Script:wght@700&family=Great+Vibes&family=Open+Sans&family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/*Fonts*/
.amaticSc {
  font-family: 'Amatic SC', cursive;
}

.cormorantGaramond {
  font-family: 'Cormorant Garamond', serif;
}

.dancingScript {
  font-family: 'Dancing Script', cursive;
}

.greatVibes {
  font-family: 'Great Vibes', cursive;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

.Sacramento {
  font-family: 'Sacramento', cursive;
}

/*shadow when active or hover*/
#basic-navbar-nav .nav-link {
  transition: .2s ease;
}

#basic-navbar-nav .nav-link:hover,
#basic-navbar-nav .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

/**************TIMER CONTENT*****************/

.timerContent h1 {
  font-size: 2.8rem;
}

.timerContent h2 {
  font-size: 2rem;
}

.timerContent p {
  font-size: 1.5rem;
}

/**************FAQS CONTENT*****************/
.faqsContent h1 {
  padding: 2rem 1rem 1rem;
  font-size: 2.4rem;
}

.faqsContent h5 {
  padding: 0 1.2rem;
}

.faqsContent h4 {
  font-family: 'Cormorant Garamond';
  padding: 0 1.2rem;
  margin-bottom: 1rem;
  font-weight: 200;
}

.faqsContent svg {
  color: red;
}

/**************RESOPONSIVENESS*****************/
@media (max-width: 1500px) {
  .title {
    font-size: 6rem;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
  .title {
    font-size: 5rem;
  }
}


@media (max-width: 617px) {
  .timerContent h1 {
    font-size: 2rem;
  }

  .timerContent h2 {
    font-size: 1.5rem;
  }

  .timerContent p {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 4rem;
  }
}
